@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    margin: 0;
    background-color: #24252A;
      box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    background: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;    
}

h2 {
    color: white;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

div {
    width:100%;
}

.main{
    display: flex;
    flex-direction: column;
}

.navbar{
    flex: 0 0 auto;
    align-content: start;
}

.intro{
    flex: 1 1 auto; 
    text-align: center;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 10px 20px;
    word-wrap: break-word;    
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover:not(.active) {
    background-color: rgba(0,136,169,0.5);
    border: none;
    border-radius: 50px;
}

.active {
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;	
}
.button {
    background-color: green;
    border: green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .col {
    float: left;
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    border-color: white;
  }
  .containerTab {
    padding: 20px;
    color: white;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .column {
    float: left;
    padding: 10px;
    height: 500px;
  }
  
  
  .Last {
    width: 100%;
  }

  .colu {
    float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  }
  
#rcorners1 {
    border-radius: 25px;
    border: 1px solid white;
    width: 100%;
    border-collapse: collapse;
    border-color: white; 
  
  }
  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    border-color: white;
  }
  #myProgress {
    width: 100%;
    
  }
  
  #myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 100px;
    color: white;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
  }

  .loadbar{
    background-color: #edf0f1;
}
.started{
  background-color: limegreen;
}
